*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.banner{
    display: flex;
}
.izquierda{
    background: #FCD21D;
    height: 100vh;
    width: 50%;
    padding-top: 5%;
   
    
}
.derecha{
    
    background: url(../images/google_maps-640x400.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 50%;
    box-shadow:  -10px 0px 10px -5px rgba(0,0,0,.2);
}
nav{
    box-shadow: 0 10px 10px 2px rgba(0,0,0,.2);
    
}
.sge{
    
    display: inline-block;
    width: 100%;
}
h1{
    font-size: 50px;
    color: #fff;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    margin-left: 10%;
   
}
p{
    font-size: 19px;
    line-height: 30px;
    width: 60%;
    margin: auto;
    margin-left: 10%;
}
.link{
    margin-left: 10%;
    margin-top: 35px;
}
.link a{
    border: 2px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;    
    color: #fff;
    
}
.link a:hover{
    background: #fff;
    color: #2d2d2d;
    text-decoration: none;
}